:root {
    --todo-state-size: 1.2;
}

.todo-list-container {
    margin-top: 1.5rem;
}

.todo-completed {
    text-decoration: line-through;
}

.state-checkbox {
    transform: scale(var(--todo-state-size));
}

.column button {
    width: 100%;
}

.list-item {
    cursor: pointer;
}